/* Global styles */
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Table styles */
.game-board table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

.game-board td {
    border: 3px solid #333;
    height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial", sans-serif;
    font-size: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-board td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Button styles */
.reset-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #0056b3;
}

/* Endgame styles */
.endgame {
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(205, 133, 63, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

.symbol-selection,
.current-symbol {
    margin-top: 20px;
}

.symbol-selection button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
}